body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "PixelFont";
  src: url("assets/fonts/pixel-font.ttf") format("truetype");
}